@import "./global.style.css";

form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding-inline: 16px;
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label {
  font-size: 0.85rem;
  font-weight: 800;
}

textarea {
  resize: none;
}

button {
  align-self: center;
  padding-inline: 32px;
  color: hsl(0, 0%, 100%);
  font-weight: 800;
}
